<%- include ('partials/header.ejs') %> <%- include ('partials/main_nav.ejs') %>

<main class="container">
  <!-- <h1 class="display-4"><%= title %></h1> -->
</main>
<!--bottom nav-->
<script src="https://gist.github.com/timothy918/05f71d4071374d0352d1155002a487f4.js"></script>
<!--script section-->
<%- include ('partials/bottom_nav.ejs') %> <%- include ('partials/footer.ejs')
%>
