<!-- File name: projects.ejs
Student name: Timothy, KWOK Ting Hei
Student ID: 301246247
Date: 29-May-2023 -->
<%- include ('partials/header.ejs') %> <%- include ('partials/main_nav.ejs') %>

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to <%= title %> page</h1>
    <a href="https://mastermind2-chaotic-evil.web.app/statistics.html">
      <figure>
        <img src="/img/MasterMind2.png" alt="MasterMind2" class="projectPics" />
        <figcaption>MasterMind 2: Chaotic Evil</figcaption>
      </figure>
    </a>
    <br />
    <a
      href="http://studentweb.cencol.ca/tkwok15/COMP125/assignment4/index.html">
      <figure>
        <img src="/img/assignment4.png" alt="assignment4" class="projectPics" />
        <figcaption>
          Semester2 COMP125 Client-Side Development assignment4
        </figcaption>
      </figure>
    </a>
  </div>
</main>
<!--bottom nav-->

<!--script section-->
<%- include ('partials/bottom_nav.ejs') %> <%- include ('partials/footer.ejs')
%>
