<!-- File name: projects.ejs
Student name: Timothy, KWOK Ting Hei
Student ID: 301246247
Date: 29-May-2023 -->
<%- include ('partials/header.ejs') %> <%- include ('partials/main_nav.ejs') %>

<main class="container">
  <h1 class="display-4">Welcome to <%= title %> page</h1>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button
        class="nav-link <%= activeTab === 'webdev' ? 'active' : '' %>"
        id="webdev-tab"
        data-bs-toggle="tab"
        data-bs-target="#webdev"
        type="button"
        role="tab"
        aria-controls="webdev"
        aria-selected="<%= activeTab === 'webdev' %>">
        Web Development
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link <%= activeTab === 'genprog' ? 'active' : '' %>"
        id="genprog-tab"
        data-bs-toggle="tab"
        data-bs-target="#genprog"
        type="button"
        role="tab"
        aria-controls="genprog"
        aria-selected="<%= activeTab === 'genprog' %>">
        General Programming
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link <%= activeTab === 'dataanalysis' ? 'active' : '' %>"
        id="dataanalysis-tab"
        data-bs-toggle="tab"
        data-bs-target="#dataanalysis"
        type="button"
        role="tab"
        aria-controls="dataanalysis"
        aria-selected="<%= activeTab === 'dataanalysis' %>">
        Data Analysis
      </button>
    </li>
  </ul>
  <!-- Tab content -->
  <div class="tab-content" id="myTabContent">
    <!-- Web Development Tab -->
    <div
      class="tab-pane fade <%= activeTab === 'webdev' ? 'show active' : '' %>"
      id="webdev"
      role="tabpanel"
      aria-labelledby="webdev-tab">
      <a
        href="https://mastermind2-chaotic-evil.web.app/statistics.html"
        class="project-card">
        <div class="card">
          <!-- Text on the left -->
          <div class="card-info">
            <h3 class="project-title">MasterMind 2: Chaotic Evil</h3>
            <p class="project-p">
              A JavaScript board game; featuring,<br />
              FireStore NoSQL database; and, <br />
              data visualization using Chart.js.
            </p>
          </div>
          <!-- Images on the right -->
          <div class="card-image-container">
            <iframe
              class="project-video"
              src="https://www.youtube.com/embed/7uLPT4NDlpg"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen>
            </iframe>
            <img
              src="/img/MasterMind2.png"
              alt="MasterMind2"
              class="project-thumbnail" />
          </div>
        </div>
      </a>
    </div>
    <!-- General Programming Tab -->
    <div
      class="tab-pane fade <%= activeTab === 'genprog' ? 'show active' : '' %>"
      id="genprog"
      role="tabpanel"
      aria-labelledby="genprog-tab">
      coming soon
    </div>
    <!-- Data Analysis Tab -->
    <div
      class="tab-pane fade <%= activeTab === 'dataanalysis' ? 'show active' : '' %>"
      id="dataanalysis"
      role="tabpanel"
      aria-labelledby="dataanalysis-tab">
      <a href="/logisticRegression" class="project-card">
        <div class="card">
          <!-- Text on the left -->
          <div class="card-info">
            <h3 class="project-title">Optimizing Trading Strategies</h3>
            <p class="project-p">
              Data scraping with yfinance;<br />
              data cleaning & simulations with Python;<br />
              logistic regression with sklearn; and,<br />
              Kelly Criterion with variable multipliers.
            </p>
          </div>
          <!-- Images on the right -->
          <div class="card-image-container">
            <iframe
              class="project-video"
              src="https://www.youtube.com/embed/-gBXcNP_dFs"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen>
            </iframe>
            <img
              src="/img/RvR.png"
              alt="Risk vs Return for Different Strategies"
              class="project-thumbnail" />
          </div>
        </div>
      </a>
    </div>
  </div>
</main>
<!--bottom nav-->

<!--script section-->
<%- include ('partials/bottom_nav.ejs') %> <%- include ('partials/footer.ejs')
%>
